/* styles.css */
.app-container {
    max-width: 1200px; /* Adjust based on your design */
    margin: 20px auto; /* Center the container */
    padding: 10px; /* Inner padding */
    border-radius: 4px; /* Optional: rounded corners */
  
    background-color: rgb(242, 237, 237); /* Background color for contrast */
  }
  